In [2]:
import pandas as pd
import glob
import csv
import os
import datetime
import numpy as np

In [51]:
#giving path for all raw csvs
path = 'data'
all_files = glob.glob(os.path.join(path, "*.csv"))
all_files

['data/apr16-listings.csv',
 'data/apr17-listings.csv',
 'data/aug16-listings.csv',
 'data/aug17-listings.csv',
 'data/dec16-listings.csv',
 'data/feb16-listings.csv',
 'data/feb17-listings.csv',
 'data/jan17-listings.csv',
 'data/jul16-listings.csv',
 'data/jul17-listings.csv',
 'data/jun16-listings.csv',
 'data/jun17-listings.csv',
 'data/mar17-listings.csv',
 'data/may16-listings.csv',
 'data/may17-listings.csv',
 'data/nov15-listings.csv',
 'data/nov16-listings.csv',
 'data/oct16-listings.csv',
 'data/oct17-listings.csv',
 'data/sep16-listings.csv',
 'data/sep17-listings.csv']

In [4]:
#concatinating all csvs into one dataframe
df = pd.concat((pd.read_csv(f,encoding='iso8859') for f in all_files),axis=0)

In [5]:
#raw - merged dataframe - never delete!
df.head(2)

,accommodates,amenities,availability_365,bathrooms,bed_type,bedrooms,beds,calculated_host_listings_count,cancellation_policy,city,...,room_type,row_id,scrape_id,security_deposit,smart_location,square_feet,state,street,weekly_price,zipcode
0,2,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",0,1.0,Real Bed,1.0,1.0,1,flexible,San Francisco,...,Private room,NaN,2.016040e+13,NaN,"San Francisco, CA",NaN,CA,"Great Highway, San Francisco, CA 94121, United...",NaN,94121
1,4,"{TV,Kitchen,""Free Parking on Premises"",""Pets A...",129,1.0,Real Bed,1.0,2.0,1,strict,San Francisco,...,Entire home/apt,NaN,2.016040e+13,NaN,"San Francisco, CA",NaN,CA,"45th Avenue, San Francisco, CA 94121, United S...","$1,050.00",94121

In [6]:
#rearranging column order
df = df[['id', 'scrape_id', 'last_scraped', 'name', 'host_id', 'host_name',
       'host_since', 'host_response_rate', 'host_neighbourhood',
       'host_total_listings_count', 'street', 'neighbourhood_cleansed', 'city',
       'state', 'zipcode', 'market', 'smart_location', 'country_code',
       'country', 'latitude', 'longitude', 'is_location_exact',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price',
       'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people',
       'minimum_nights', 'maximum_nights', 'availability_365',
       'number_of_reviews', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'cancellation_policy',
       'calculated_host_listings_count', 'reviews_per_month']]

In [7]:
df.head(2)

,id,scrape_id,last_scraped,name,host_id,host_name,host_since,host_response_rate,host_neighbourhood,host_total_listings_count,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,calculated_host_listings_count,reviews_per_month
0,8087607,2.016040e+13,4/3/16,Single Room Beautiful Beach Condo,3264449,Keith,8/15/12,NaN,Richmond District,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,f,flexible,1,NaN
1,9395222,2.016040e+13,4/3/16,"Ocean Beach, Lands End Escape",25963295,Tyler,1/11/15,100%,NaN,2.0,...,9.0,9.0,10.0,10.0,10.0,9.0,t,strict,1,5.57

In [8]:
len(df)

180630

In [9]:
#converting all possible data types to numeric - can delete later
df = z.apply(pd.to_numeric, errors='ignore')

NameError: name 'z' is not defined

In [10]:
df.dtypes

id                                  int64
scrape_id                         float64
last_scraped                       object
name                               object
host_id                             int64
host_name                          object
host_since                         object
host_response_rate                 object
host_neighbourhood                 object
host_total_listings_count         float64
street                             object
neighbourhood_cleansed             object
city                               object
state                              object
zipcode                            object
market                             object
smart_location                     object
country_code                       object
country                            object
latitude                          float64
longitude                         float64
is_location_exact                  object
property_type                      object
room_type                          object
accommodates                        int64
bathrooms                         float64
bedrooms                          float64
beds                              float64
bed_type                           object
amenities                          object
square_feet                       float64
price                              object
weekly_price                       object
security_deposit                   object
cleaning_fee                       object
guests_included                     int64
extra_people                       object
minimum_nights                      int64
maximum_nights                      int64
availability_365                    int64
number_of_reviews                   int64
first_review                       object
last_review                        object
review_scores_rating              float64
review_scores_accuracy            float64
review_scores_cleanliness         float64
review_scores_checkin             float64
review_scores_communication       float64
review_scores_location            float64
review_scores_value               float64
instant_bookable                   object
cancellation_policy                object
calculated_host_listings_count      int64
reviews_per_month                 float64
dtype: object

In [11]:
#creating a list of columns that has special characters to replace it.
cols = ['host_response_rate','price','weekly_price','security_deposit','cleaning_fee','extra_people']

df[cols] = df[cols].replace({'\$':'', ',':'', '%':''}, regex=True)

In [12]:
#test cell for data types/formats of columns
df.security_deposit[:10]

0        NaN
1        NaN
2    250.00
3        NaN
4    100.00
5    200.00
6    325.00
7    500.00
8    100.00
9        NaN
Name: security_deposit, dtype: object

In [13]:
#Changing column data types to float

df.host_response_rate = df.host_response_rate.astype(float)
df.price = df.price.astype(float)
# df.weekly_price = df.weekly_price(float)
# df['security_deposit'] = df.security_deposit(float)
# df.cleaning_fee = df.cleaning_fee(float)
# df.extra_people = df.extra_people(float)

df.last_scraped = df.last_scraped.astype(datetime.datetime)

In [14]:
final_data = df.to_csv('cleandata.csv', index=False)

In [43]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, inspect
from sqlalchemy.engine.url import URL
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, Boolean, func
from sqlalchemy.orm import Session

### Had to clean csv, remove empty rows, align data and then again read into clean dataframe to load into postgres

In [17]:
#trying to read clean csv into dataframe
clean_df = pd.read_csv('refined.csv', encoding='iso8859')

/Users/manjeetchawla/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
#deleting rows with Nans, as putting 0 can distort aggregations
"""Tip:
Don't drop. Just take rows where EPS is finite:
"""

clean_df = clean_df[np.isfinite(clean_df['price'])]

In [19]:
#checking if it worked! Yes it did 
clean_df.price.isnull().sum()

0

In [199]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.7.3.2-cp36-cp36m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (1.7MB)
    100% |████████████████████████████████| 1.7MB 483kB/s eta 0:00:01
Installing collected packages: psycopg2
Successfully installed psycopg2-2.7.3.2

In [20]:
# Creating an engine to a database file called `airbnb`
engine = create_engine("postgresql://manjeetchawla:mcal@localhost:5432/airbnb_db")

In [21]:
#creating engine connection
#Tip: for engine to connect, make sure "airbnb_db" first exists in postgres database! 
"""created that by:
    1.opening terminal
    2. started psql interactive: psql -U postgres (and password)
    3. create database airbnb_db;
"""
conn = engine.connect()

In [22]:
# Use `declarative_base` from SQLAlchemy to model the demographics table as an ORM class
Base1 = declarative_base()

In [23]:
clean_df.columns

Index(['row_id', 'id', 'last_scraped', 'name', 'host_id', 'host_name',
       'host_since', 'host_response_rate', 'host_neighbourhood',
       'host_total_listings_count', 'street', 'neighbourhood_cleansed', 'city',
       'zipcode', 'market', 'latitude', 'longitude', 'is_location_exact',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price',
       'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people',
       'minimum_nights', 'maximum_nights', 'availability_365',
       'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'cancellation_policy',
       'calculated_host_listings_count', 'reviews_per_month'],
      dtype='object')

In [24]:
class listings(Base1):
    __tablename__ = 'listings'
#     __table_args__ = {'extend_existing': True} # this will replacec existing metadata for measurements table/class
    row_id = Column(Integer, primary_key = True)
    id = Column(Integer) #not primary key, cuz id's are duplicate depending on hostid or scrape_date
    last_scraped = Column(Text)
    name = Column(Text)
    host_id = Column(Float)
    host_name = Column(Text)
    host_since = Column(Text)
    host_response_rate = Column(Float)
    host_neighbourhood = Column(Text)
    street = Column(Text)
    host_total_listings_count = Column(Float)
    neighbourhood_cleansed = Column(Text)
    city = Column(Text)
    zipcode = Column(Text)
    market = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    is_location_exact = Column(Text)
    property_type = Column(Text)
    room_type = Column(Text)
    accommodates = Column(Float)
    bathrooms = Column(Float)
    bedrooms = Column(Float)
    beds = Column(Float)
    bed_type = Column(Text)
    amenities = Column(Text)
    square_feet = Column(Float)
    price = Column(Float)
    weekly_price = Column(Float)
    security_deposit = Column(Float)
    cleaning_fee = Column(Float)
    guests_included = Column(Float)
    extra_people = Column(Float)
    minumum_nights = Column(Float)
    maximum_nights = Column(Float)
    availability_365 = Column(Float)
    number_of_reviews = Column(Float)
    review_scores_rating = Column(Float)
    review_scores_accuracy =  Column(Float)
    review_scores_cleanliness = Column(Float)
    review_scores_checkin = Column(Float)
    review_scores_communication = Column(Float)
    review_scores_location = Column(Float)
    review_scores_value = Column(Float)
    instant_bookable = Column(Text)
    cancellation_policy = Column(Text)
    calculated_host_listings_count = Column(Float)
    reviews_per_month = Column(Float)
    
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}, date={self.scrape_date}, price={self.price}"

In [25]:
#creating metadata
Base1.metadata.create_all(engine)

In [26]:
#Checking table metadata
listings.__table__

Table('listings', MetaData(bind=None), Column('row_id', Integer(), table=<listings>, primary_key=True, nullable=False), Column('id', Integer(), table=<listings>), Column('last_scraped', Text(), table=<listings>), Column('name', Text(), table=<listings>), Column('host_id', Float(), table=<listings>), Column('host_name', Text(), table=<listings>), Column('host_since', Text(), table=<listings>), Column('host_response_rate', Float(), table=<listings>), Column('host_neighbourhood', Text(), table=<listings>), Column('street', Text(), table=<listings>), Column('host_total_listings_count', Float(), table=<listings>), Column('neighbourhood_cleansed', Text(), table=<listings>), Column('city', Text(), table=<listings>), Column('zipcode', Text(), table=<listings>), Column('market', Text(), table=<listings>), Column('latitude', Float(), table=<listings>), Column('longitude', Float(), table=<listings>), Column('is_location_exact', Text(), table=<listings>), Column('property_type', Text(), table=<listings>), Column('room_type', Text(), table=<listings>), Column('accommodates', Float(), table=<listings>), Column('bathrooms', Float(), table=<listings>), Column('bedrooms', Float(), table=<listings>), Column('beds', Float(), table=<listings>), Column('bed_type', Text(), table=<listings>), Column('amenities', Text(), table=<listings>), Column('square_feet', Float(), table=<listings>), Column('price', Float(), table=<listings>), Column('weekly_price', Float(), table=<listings>), Column('security_deposit', Float(), table=<listings>), Column('cleaning_fee', Float(), table=<listings>), Column('guests_included', Float(), table=<listings>), Column('extra_people', Float(), table=<listings>), Column('minumum_nights', Float(), table=<listings>), Column('maximum_nights', Float(), table=<listings>), Column('availability_365', Float(), table=<listings>), Column('number_of_reviews', Float(), table=<listings>), Column('review_scores_rating', Float(), table=<listings>), Column('review_scores_accuracy', Float(), table=<listings>), Column('review_scores_cleanliness', Float(), table=<listings>), Column('review_scores_checkin', Float(), table=<listings>), Column('review_scores_communication', Float(), table=<listings>), Column('review_scores_location', Float(), table=<listings>), Column('review_scores_value', Float(), table=<listings>), Column('instant_bookable', Text(), table=<listings>), Column('cancellation_policy', Text(), table=<listings>), Column('calculated_host_listings_count', Float(), table=<listings>), Column('reviews_per_month', Float(), table=<listings>), schema=None)

In [27]:
#converting clean dataframe (withNaNs) to dictionary using orient value as records (column -> value)
listings_dict = clean_df.to_dict(orient='records')
print(listings_dict[0]) # checking the conversion worked ok - yes it is!

{'row_id': 1, 'id': 958, 'last_scraped': '11/1/15', 'name': 'Bright, Modern Garden Unit - 1BR/1B', 'host_id': 1169, 'host_name': 'Holly', 'host_since': '7/31/08', 'host_response_rate': 88.0, 'host_neighbourhood': 'Duboce Triangle', 'host_total_listings_count': 1.0, 'street': 'Pierce St, San Francisco, CA 94117, United States', 'neighbourhood_cleansed': 'Western Addition', 'city': 'San Francisco', 'zipcode': 94117.0, 'market': 'San Francisco', 'latitude': 37.76931038, 'longitude': -122.4338563, 'is_location_exact': 't', 'property_type': 'Apartment', 'room_type': 'Entire home/apt', 'accommodates': 3.0, 'bathrooms': 1.0, 'bedrooms': 1.0, 'beds': 2.0, 'bed_type': 'Real Bed', 'amenities': '{TV,"Cable TV",Internet,"Wireless Internet",Kitchen,Heating,"Family/Kid Friendly",Washer,Dryer}', 'square_feet': nan, 'price': 170.0, 'weekly_price': 1120.0, 'security_deposit': 100.0, 'cleaning_fee': 100.0, 'guests_included': 2.0, 'extra_people': 0.0, 'minimum_nights': 2.0, 'maximum_nights': 30.0, 'availability_365': 314.0, 'number_of_reviews': 38.0, 'review_scores_rating': 98.0, 'review_scores_accuracy': 10.0, 'review_scores_cleanliness': 10.0, 'review_scores_checkin': 10.0, 'review_scores_communication': 10.0, 'review_scores_location': 10.0, 'review_scores_value': 10.0, 'instant_bookable': 'f', 'cancellation_policy': 'strict', 'calculated_host_listings_count': 1.0, 'reviews_per_month': 0.5}

In [28]:
# loading dataframe into tables
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [29]:
# creting a variable for measurements table, to load it into hawaii.sqlite later
listings_table = sqlalchemy.Table('listings', metadata, autoload=True)

### Testing
def create_table(name, *cols):
    meta = MetaData()
    meta.reflect(bind=engine)
    if name in meta.tables: return

    table = Table(name, meta, *cols)
    table.create(engine)

create_table('Table1',
             Column('id', Integer, primary_key=True),
             Column('name', String))
create_table('Table2',
             Column('id', Integer, primary_key=True),
             Column('key', String),
             Column('val', String))

inspector = inspect(engine)
for _t in inspector.get_table_names(): print(_t)

In [33]:
conn.execute(listings_table.delete())

In [34]:
# inserting csv data that was converted into dictionaries in tables variables created above
# Using `table.insert()` to insert the data into the table
conn.execute(listings_table.insert(), listings_dict)

In [36]:
# Test the data was inserted correctly into sqlite database by querying first 5 rows
conn.execute("select * from listings limit 5").fetchall()

[(480, 4785637, '11/1/15', 'Studio Apt', 17416731.0, 'Punit', '6/29/14', nan, 'NaN', 'Guerrero Street, San Francisco, CA 94110, United States', 1.0, 'Mission', 'San Francisco', '94110.0', 'San Francisco', 37.75658205, -122.4245165, 'f', 'Apartment', 'Entire home/apt', 2.0, 1.0, 0.0, 1.0, 'Real Bed', '{}', nan, 200.0, nan, nan, nan, 1.0, 0.0, None, 1125.0, 301.0, 0.0, nan, nan, nan, nan, nan, nan, nan, 'f', 'flexible', 1.0, nan),
 (13554, 9614932, '2/2/16', 'test2 test2', 26873146.0, 'Jimmy', '1/28/15', 75.0, 'SoMa', 'Brannan Street, San Francisco, CA 94103, United States', 2.0, 'South of Market', 'San Francisco', '94103.0', 'San Francisco', 37.77323072, -122.4064319, 't', 'House', 'Private room', 6.0, 1.0, 1.0, 1.0, 'Real Bed', '{}', nan, 400.0, nan, 100.0, 50.0, 1.0, 0.0, None, 1125.0, 365.0, 0.0, 100.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 'f', 'flexible', 2.0, 1.0),
 (6959, 9139092, '11/2/15', 'Cozy room with an ocean view', 8563346.0, 'Haiyuan', '9/1/13', 70.0, 'NaN', 'Warren Drive, San Francisco, CA 94131, United States', 1.0, 'Inner Sunset', 'San Francisco', '94131.0', 'San Francisco', 37.75642042, -122.4629468, 'f', 'Apartment', 'Shared room', 1.0, 1.0, 1.0, 1.0, 'Real Bed', '{}', nan, 70.0, nan, nan, nan, 1.0, 0.0, None, 1125.0, 357.0, 0.0, nan, nan, nan, nan, nan, nan, nan, 'f', 'flexible', 1.0, nan),
 (8031, 1062497, '2/2/16', ' PRIVATE RM 4 1 nxt 2 Dolores Park', 5848186.0, 'Giovanna', '4/9/13', nan, 'Mission District', '17th Street, San Francisco, CA 94114, United States', 1.0, 'Mission', 'San Francisco', '94114.0', 'San Francisco', 37.76312154, -122.4258955, 't', 'House', 'Private room', 1.0, 1.0, 1.0, 1.0, 'Real Bed', '{TV,"Wireless Internet",Kitchen,Washer,Dryer}', nan, 200.0, nan, nan, 30.0, 1.0, 25.0, None, 4.0, 365.0, 4.0, 98.0, 10.0, 9.0, 10.0, 10.0, 10.0, 10.0, 'f', 'strict', 1.0, 0.13),
 (10818, 5873066, '2/2/16', 'Room with futon', 2948109.0, 'Emily', '7/15/12', 100.0, 'Cow Hollow', 'Filbert Street, San Francisco, CA 94123, United States', 1.0, 'Marina', 'San Francisco', '94123.0', 'San Francisco', 37.79929881, -122.4325023, 't', 'Apartment', 'Private room', 1.0, 1.0, 1.0, 1.0, 'Futon', '{}', nan, 220.0, nan, nan, 70.0, 1.0, 0.0, None, 1125.0, 0.0, 0.0, 100.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 'f', 'flexible', 1.0, 0.94)]

In [44]:
#creating session to query
session = Session(engine)

In [50]:
#testing sqlalchemy conection by calculating avg price
avg_price = session.query(func.avg(listings.price)).\
                    order_by(func.avg(listings.price).desc()).all()
avg_price

[(252.64314596357)]

### Now, sqlalchemy is working, onto flask